@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverable-snippet__blue {
    --hover-color: theme("colors.blue.800");
    --hover-border-color: theme("colors.blue.300");
}

.hoverable-snippet__amber {
    --hover-color: theme("colors.amber.800");
    --hover-border-color: theme("colors.amber.300");
}

.hoverable-snippet__fuchsia {
    --hover-color: theme("colors.fuchsia.800");
    --hover-border-color: theme("colors.fuchsia.300");
}

.hoverable-snippet__emerald {
    --hover-color: theme("colors.emerald.800");
    --hover-border-color: theme("colors.emerald.300");
}


.hoverable-snippet:hover:not(:has(.hoverable-snippet:hover)) {
    background-color: var(--hover-color);
    border-color: var(--hover-border-color);
}
